<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TypeMapper">

    <select id="selectAll" resultType="com.example.entity.Type">
        select `type`.* from `type`

        <where>
			<if test="name != null and name != ''">
				and `type`.`name` like concat ('%', #{name}, '%')
			</if>

        </where>
    </select>

    <select id="selectById" resultType="com.example.entity.Type">
        select * from type where id = #{id}
    </select>

    <delete id="deleteById">
        delete from type where  id = #{id}
    </delete>

</mapper>